@page "/TODOlist"
@rendermode InteractiveServer


<div id="todo_list_full_page" style="display:flex; justify-content:space-between">
	<div id="todo_list" style="flex:1;">
		<h3>TODOlist (@todos.Count(testc => !testc.IsDone))</h3>
		<input @bind="TODOnewItem" />
		<button @onclick='AddItem'>Add Item</button>
		<ol>
			@foreach(TODOitem i in todos)
			{
				@if(!i.IsDone)
				{
					<li><input type="checkbox" @bind="i.IsDone" @onclick="()=>i.ComplitedTime = DateTime.Now"/> @i.Title. (@i.AssignedTime)</li>
				}
			}
		</ol>
	</div>
	<div id="done_list" style="flex:1;">
		<h3>DONE list (@todos.Count(testc => testc.IsDone))</h3>
		<ol>
			@foreach(TODOitem i in todos)
			{
				@if (i.IsDone)
				{
					<li><input type="checkbox" @bind="i.IsDone" /> @i.Title. (@i.AssignedTime | @i.ComplitedTime)</li>
				}
			}
		</ol>
	</div>
</div>
@code {

	List<TODOitem> todos = new List<TODOitem>();
	string TODOnewItem = "";

	public class TODOitem
	{
		public string Title { get; set; }
		public bool IsDone{ get; set; }
		public DateTime AssignedTime{ get; set; }
		public DateTime? ComplitedTime{ get; set; }
		
	}
	public void AddItem(MouseEventArgs e)
	{
		if(!string.IsNullOrWhiteSpace(TODOnewItem))
		{
			todos.Add(new TODOitem { Title = TODOnewItem, AssignedTime = DateTime.Now });
			TODOnewItem = "";
		}
	}
}
